html{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 57px;
}
p{
  font-size: 19px;
}
.header{
  margin-bottom: 60px;
}
.cart-home{
  position: absolute;
  right: 70px;
  bottom: 100px;
}
.level-wrap{
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
 label{
    font-size: 50px;
    margin-bottom: 24px;
    position: relative;
    color: white;
    text-decoration: none;
    margin-left: 50px;
  }
  input{
    display: none;
    &:checked+label{
      &:after{
        display: inline-block;
        position: absolute;
        left: -50px;
        content: "";
        margin-top: -15px;
        top: 50%;
        width: 30px;
        height: 30px;
        background-color: #D62B2E;
      }
    }
  }
}
main{
  position: relative;
  background: url("/images/background.png");
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  padding: 130px 100px;
}
button{
  font-size: 32px;
  padding: 29px 82px;
  background-color: red;
  color:white;
  outline: none;
  border: none;
  cursor: pointer;
  &:disabled{
    background: gray;
  }
}
.wrap-card{
  width: 218px;
  height: 340px;
  transition: transform 1.6s;
  transform-style: preserve-3d;
  text-align: center;
  display: inline-block;
  margin: 12px;
  &:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    transform: rotate(3deg);
  }
}
.wrap-card.active{
  transform: rotateY(180deg);
}
.card{
  backface-visibility: hidden;
  cursor: pointer;
  color: black;
  font-size: 40px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 0;
  height: 100%;
  position: absolute;
  background: url("/images/cartback.png");
  display: inline-block;
  transition: 1s all;
}
.back{
  transform: rotateY(180deg);
  &.bags{
    background: url("/images/cartbags.png");
  }
  &.gamover{
    background: url("/images/gamover.png");
  }
}
.wrap{
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}